body {
    margin: 0;
    font-family: 'Open Sans';
    color: #97a2a7;
}
a { 
    text-decoration-line: none;
}

/* SECTION-3 */

.section-3 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.section-3 > div {
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 1em;
    text-align: center;
}

.section-3 > div:last-child {
    border-right: none;
}

.section-3 > div > .foot-link {
    margin-top: auto;
    padding: 1em;
}

.section-3 > div > .foot-link > a > span {
    background: url('img/sprite_home.png') no-repeat -47px -295px; 
    margin: 1em auto;
    display: block;
    width: 24px;
	height: 24px;
}

@media (max-width: 1080px) {
    .section-3 {
        width: 540px;
        flex-direction: column;
    }
    .section-3 > div {
        border-right: none;
    }
}

@media (min-width: 1080px) {
    .section-3 {
        width: 1080px;
        flex-direction: row;
    }
}


.padding {
    padding: 1em;
}

/* COLOR */

.yellowgreen {
    color: #bdd436;
}

/* LINKS */

a.hover-gray:hover {
    color: #97a2a7;
}






/* ICONS */


.tool {
	background: url('img/sprite_home.png') no-repeat -22px -113px;
	width: 75px;
    height: 75px;
}

.switch {
	background: url('img/sprite_home.png') no-repeat -120px -109px;
	width: 90px;
	height: 110px;
}

.arrow {
	background: url('img/sprite_home.png') no-repeat -227px -100px;
	width: 74px;
	height: 107px;
}

.bulb {
	background: url('img/sprite_home.png') no-repeat -312px -101px;
	width: 119px;
    height: 128px;
}

.arrow-left {
	background: url('img/sprite_home.png') no-repeat -47px -295px;
	width: 24px;
	height: 24px;
}

.icon {
	height: 128px;
}